<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<% include ../templates/header.ejs %>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center"><h1><%= heading %></h1></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>View Team</th>
                        <th>Team Name</th>
                        <th>Team Members</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% teams.forEach(function(team){ %>
                    <tr>

                        <td><a href="/team/<%= team.teamName %>" class="btn btn-success" role="button">View</a>
                        </td>
                        <td><%= team.teamName %></td>
                        <td>

                            <% team.teamMembers.forEach(function(resource){ %>
                            <a href="/resource/<%=resource._id%>">
                                <%= resource.resourceName %>
                            </a><br/>
                            <% }); %>

                        </td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>