<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/jsvalidate/validator.min.js"></script>
</head>
<body>
<% include ../templates/header.ejs %>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-cente"><h1><%= heading %></h1></div>
        <div class="panel-body">

            <form action="/project/<%= projectCode %>/<%= changeItem.changeTitle %>/update" method="post" data-toggle="validator" role="form">


                <div class="form-group has-feedback">
                    <label for="changeTitle" class="control-label">Change Title:</label>
                    <div class="input-group">
                        <span class="input-group-addon">T</span>
                        <input type="text" class="form-control" id="changeTitle" name="changeTitle" value="<%= changeItem.changeTitle %>" required>
                    </div>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>


                <div class="form-group has-feedback">
                    <label for="status" required>Status:</label>
                    <select class="form-control" id="status" name="status">

                        <%
                        var statuses = ["New",
                            "Impacting",
                            "Impacted",
                            "Returned",
                            "Approved",
                            "Closed",
                            "Withdrawn",
                            "Rejected",
                            "Provisional",
                            "On-Hold",
                            "Archived"];
                        for ( var i = 0; i < statuses.length; i++ )
                        {
                            var selectedStatus = ( changeItem.status == statuses[i] ) ? "selected" : "";
                        %>
                        <option value="<%= statuses[i] %>" <%= selectedStatus %>><%= statuses[i] %></option>
                        <%
                        }
                        %>
                    </select>
                </div>

                <%var leadingZero;%>
                <div class="form-group has-feedback">
                    <label for="lid">Live Implementation Date (LID):</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        <input type="date" class="form-control" id="lid" name="lid" value="<%=changeItem.lid.getFullYear();%>-<%if(changeItem.lid.getMonth()<9){leadingZero = "0"}else{leadingZero=""}%><%=leadingZero%><%=changeItem.lid.getMonth()+1;%>-<%if(changeItem.lid.getDate()<10){leadingZero = "0"}else{leadingZero=""}%><%=leadingZero%><%= changeItem.lid.getDate();%>" required>
                    </div>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>


                <div class="form-group has-feedback">
                    <label for="startDate">Start Date:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        <input type="date" class="form-control" id="startDate" name="startDate" value="<%=changeItem.startDate.getFullYear();%>-<%if(changeItem.startDate.getMonth()<9){leadingZero = "0"}else{leadingZero=""}%><%=leadingZero%><%=changeItem.startDate.getMonth()+1;%>-<%if(changeItem.startDate.getDate()<10){leadingZero = "0"}else{leadingZero=""}%><%=leadingZero%><%= changeItem.startDate.getDate();%>" required>
                    </div>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>


                <div class="form-group has-feedback">
                    <label for="endDate">End Date:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        <input type="date" class="form-control" id="endDate" name="endDate" value="<%=changeItem.endDate.getFullYear();%>-<%if(changeItem.endDate.getMonth()<9){leadingZero = "0"}else{leadingZero=""}%><%=leadingZero%><%=changeItem.endDate.getMonth()+1;%>-<%if(changeItem.endDate.getDate()<10){leadingZero = "0"}else{leadingZero=""}%><%=leadingZero%><%= changeItem.endDate.getDate();%>" required>
                    </div>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>


                <div class="form-group">
                    <label for="risks">Risks:</label>
                    <textarea class="form-control" rows="3" id="risks" name="risks"
                              value="<%= changeItem.risks %>"></textarea>
                </div>


                <div class="form-group">
                    <label for="assumptions">Assumptions:</label>
                    <textarea class="form-control" rows="3" id="assumptions" name="assumptions"
                              value="<%= changeItem.assumptions %>"></textarea>
                </div>

                <input type="submit" value="Update Change Item" class="btn btn-success btn-lg btn-block"/>

            </form>

        </div>
    </div>
</div>
</body>
</html>