<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/style.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<% include ../templates/header.ejs %>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center"><h1><%= heading %></h1></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>View Team</th>
                        <th>Name</th>
                        <th>Job Title</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% resources.forEach(function(resource){ %>
                    <tr>

                        <td><a href="/resource/<%= resource._id %>" class="btn btn-success" role="button">View</a>
                        </td>
                        <td><%= resource.resourceName %></td>
                        <td>
                            <%= resource.role %>
                        </td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>